{% extends 'base.html.twig' %}

{% block title %}Recitales{% endblock %}

{% block body %}
    <h1>Recitales</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ recitale.id }}</td>
            </tr>
            <tr>
                <th>Banda</th>
                <td>{{ recitale.banda }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{{ recitale.fecha ? recitale.fecha|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Lugar</th>
                <td>{{ recitale.lugar }}</td>
            </tr>
            <tr>
                <th>SetList</th>
                <td>{{ recitale.setList }}</td>
            </tr>
            <tr>
                <th>Observacion</th>
                <td>{{ recitale.observacion }}</td>
            </tr>
            <tr>
                <th>Rate</th>
                <td>{{ recitale.rate }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_recitales_index') }}">back to list</a>

    <a href="{{ path('app_recitales_edit', {'id': recitale.id}) }}">edit</a>

    {{ include('recitales/_delete_form.html.twig') }}
{% endblock %}
